@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Merriweather", serif;
    background-color: #475fe2;
    color: lightgrey;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    background-color: #3550cf;
    height: 120px;
    justify-content: center;
    align-items: center;
    color: lightgray;
}

#logo {
    flex: 20%;
    text-align: center;
    margin-left: 5%;
}

#result {
    flex: 75%;
    text-align: right;
    padding: 20px 16px;
}

#player-choice, #computer-choice, #game-result {
    background-color: #1232a9;
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    padding: 6px;
}