@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Merriweather", serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    background-color: antiquewhite;
    height: 120px;
    justify-content: center;
    align-items: center;
}

#logo {
    flex: 20%;
    border: 1px solid red;
    text-align: center;
    margin-left: 10%;
}

#result {
    flex: 70%;
    border: 1px solid green;
    text-align: right;
    padding: 20px 16px;
}

#player-choice, #computer-choice, #game-result {
    background-color: #8c835a;
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    padding: 6px;
}