@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Merriweather", serif;
    background-color: #00187e;
    color: lightgrey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(to bottom, #00187e, #0b2691, #1534a3, #2042b6);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

#player-choice,
#computer-choice,
#game-result {
    background-color: #1232a9;
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    padding: 6px;
}

#choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 250px;
}

#choices button {
    background-color: #1232a9;
    color: lightgrey;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#choices button i {
    margin-right: 8px;
}

#choices button:hover {
    background-color: #00187e;
    transform: scale(1.1);
}

h2 {
    font-size: 20px;
    margin: 0 20px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to top, #00187e, #0b2691, #1534a3, #2042b6);
}

#name-ramon {
    text-decoration: none;
    color: lightgray;
    font-family: cursive;
}

#name-ramon:hover {
    color: yellow;
}

#rules-btn {
    color: lightgrey;
    background-color: #1232a9;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    font-size: 15px;
}

#rules-btn:hover {
    transform: scale(1.1);
}

#player-choice i, #computer-choice i {
    font-size: 20px;
    margin-left: 8px;
    vertical-align: middle;
}

#player-choice span,
#computer-choice span {
    vertical-align: middle;
}

#game-result i {
    font-size: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

#game-result span {
    vertical-align: middle;
}